html {
    font-size: 16px;
}

body {
    min-width: 280px;
    line-height: 1.5;
}

body, h2, .error {
    text-align: center;
}

#notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

#notification.information {
    background-color: LightGreen;
}

#notification-content {
    color: initial;
}

#controls, #content, #article-title {
    margin: 0.5em auto;
    width: 80%;
    max-width: 1000px;
}

#content {
    text-align: left;
    font-family: sans-serif;
}

h1 > a, h1 > a:visited {
    font-family: 'Squada One', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 0.5em;
    text-decoration: none;
    color: black;
}

h2 {
    padding: 0.2em;
    background: #D0EDFB;
    border-radius: 5px;
    overflow: auto; /* to keep it always wrapped around the floated edit button */
}

form input {
    margin: 1%;
    padding: .3em .5em;
    border: 1px solid silver;
    border-radius: .3em;
    box-sizing: padding-box; /* harmonize box model of text input and buttons */
}

#language {
    width: 4em;
}

#loading-spinner {
    display: block;
    margin: 2.5em auto;
    width: 4em;
}

a {
    color: DodgerBlue;
    font-family: sans-serif;
    text-decoration: none; /* don't underline by default */
}

a:hover {
    text-decoration: underline; /* do underline when hovering */
}

a:visited {
    color: DarkSlateBlue;
}

a:active {
    outline: none; /* don't show the dotted border on a clicked link */
}

a.actionlink {
    display: inline-block;
    /* shape */
    padding: 0.5em 1em;
    line-height: 0.5;
    /* appearance */
    background-color: #7fbf4d;
    background: linear-gradient(to bottom, #7fbf4d 0%, #63a62f 100%);
    border: 1px solid #63a62f;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #a8cc8f;
    /* text */
    color: white;
    font-weight: normal; /* override the default (bold), inherited from h2 */
    text-shadow: 0 -1px 0 #4c9021;
    transform: scaleX(-1);         /* There's no unicode character for a    */
    -webkit-transform: scaleX(-1); /* pencil pointing down-left, so use the */
                                   /* one pointing down-right and mirror it */
}

a.actionlink:hover {
    background-color: #76b347;
    background: linear-gradient(to bottom, #76b347 0%, #5e9e2e 100%);
    box-shadow: inset 0 1px 0 0 #8dbf67;
    text-decoration: none;
}

a.actionlink:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

div.actionlink-container {
    float: right;
}

input[type=search], input[type=submit], input[type=button], input[type=text] {
    font-size: inherit;
}

#footer a:hover {        /* prevent underline from appearing       */
    text-decoration: none; /* under the whitespace between the links */
}                        /* caused from the code indentation       */

object {
    pointer-events: none; /* allow clicking on the link that wraps the svg */
}

.error {
    font-size: small;
    color: gray;
}

a#copysharelink {
    cursor: pointer;
}

@media (min-width: 600px) {
    html {
        font-size: calc(13px + 0.5vw);
    }
}
