body, h2, .error {
	text-align: center;
}

#controls, #content {
	margin: 0 auto;
	width: 80%;
	padding: 1em;
}

#content {
	text-align: left;
	font-family: sans-serif;
}

h1 > a {
	font-family: 'Squada One', sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 0.5em;
	text-decoration: none;
	color: black;
}

h2 {
	padding: 0.2em;
	background: #D0EDFB;
	border-radius: 5px;
}

form {
	display: inline-block;
}

a {
	color: DodgerBlue;
	font-family: sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: DarkSlateBlue;
}

a:active {
	outline: none;
}

a.edit-link {
	float: right;
	padding: 0.5em 1em;
	font-size: 1rem;
	font-weight: bold;
	background-color: #7fbf4d;
	background: linear-gradient(to bottom, #7fbf4d 0%, #63a62f 100%);
	border: 1px solid #63a62f;
	border-radius: 3px;
	color: white;
	line-height: 0.7;
	text-shadow: 0 -1px 0 #4c9021;
	box-shadow: inset 0 1px 0 0 #a8cc8f;
}

a.edit-link:hover {
	background-color: #76b347;
	background: linear-gradient(to bottom, #76b347 0%, #5e9e2e 100%);
	box-shadow: inset 0 1px 0 0 #8dbf67;
	text-decoration: none;
}

a.edit-link:active {
	border: 1px solid #5b992b;
	border-bottom: 1px solid #538c27;
	box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

.noprint, .Inline-Template, .Template-Fact, ul.gallery {
	display: none;
}

.error {
	font-size: small;
	color: gray;
}
